<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container mt-3" id="app">
        <h1>Cursos</h1>
        <form @submit.prevent="agregar()">
            <div class="mb-3">
                <label class="form-label">Nombre del curso</label>
                <input v-model="nombre" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Descripcion</label>
                <input v-model="descripcion" required type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Creador</label>
                <input v-model="creador" required type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Precio del curso</label>
                <input v-model="precio" type="number" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Cantidad del curso</label>
                <input v-model="cantidad" type="number" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">URL del curso</label>
                <input v-model="imagen" type="url" class="form-control">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
        </form>

        <div class="d-flex flex-wrap">
            <div v-for="curso in cursos" class="card m-2" style="width: 18rem;">
                <img :src="curso.imagen" style="width: 200px;" class="card-img-top" alt="no image">
                <div class="card-body">
                    <h5 class="card-title">{{curso.nombre}}</h5>
                    <p class="card-text">{{curso.descripcion}}</p>
                    <p class="card-text">Creado por: {{curso.creador}}</p>
                    <p class="card-text">Cantidad: {{curso.cantidad}}</p>
                    <a href="#" class="btn btn-primary">${{curso.precio}}</a>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <h1>Total: ${{totalFinal}}</h1>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>

</body>

</html>