<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="cdnVue.js"></script>
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
          font-family: Arial;
        }
        
        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #DDD;
          font-family: Arial;
        }
        
        tr:hover {background-color: #D6EEEE;}
    </style>
</head>

<body>
    <!-- <div id="app">
        {{nombre}}
        {{edad}}
        {{contador}}

        <button v-on:click="incrementar()">incrementar</button>
        <button v-on:click="decrementar()">decrementar</button>
    </div>
    <--Script Vue va despues ->
    <script src="vue.js"></script> -->

    <!-- <div id="app">
        <h1 v-if="activo==true">Buenas papus</h1>
        <h1 v-else>Adios papus</h1>
        <button @click="mostrar()">True</button>
        <button @click="ocultar()">False</button>
    </div>

    <script src="if-else.js"></script> -->

    <!--  <div id="app">
        <img v-if="edad >= 18 && edad <= 100"src="../images/aproveknuckles.png">
        <img v-else-if="edad > 100"src="../images/idkknuckles.png">
        <img v-else-if="edad <= 0"src="../images/seriusknuckles.png">
        <img v-else src="../images/noknuckles.png">

        <buttton @click="capturarEdad()">Ingresar edad</buttton>
    </div>

    <script src="if-elseEdad.js"></script> -->

    <!-- <div id="app">
        <h1>Mi nombre es: {{nombre}}</h1>
        <input v-model="nombre" type="text">
        <h1>Mi carrera es: {{carrera}}</h1>
        <select v-model="carrera">
            <option>Ingenieria</option>
            <option>Licenciatura</option>
            <option>Maestria</option>
            <option>Doctorado</option>
        </select>
    </div> -->

    <!-- <div id="app">
        <h1>Captura tu edad</h1>
        <input v-model.number="edad" type="number">
        <button @click="capturarEdad()">Calcular</button>

        <img v-if="edad >= 18" src="../images/aproveknuckles.png">
        <img v-else-if="edad < 18 && edad > 0" src="../images/noknuckles.png">
        <img v-else="edad <= 0" src="../images/seriusknuckles.png">
    </div>

    <script src="model.js"></script> -->

    <div id="app">
        <h1>Mis compras</h1>
        <input v-model="producto" placeholder="Nombre del producto" type="text">
        <button @click="agregar()">Agregar</button>
        <button @click="carrito=[]">Quitar productos</button>

        <ul>
            <li v-for="producto in carrito">
                {{producto}}
            </li>
        </ul>
        
        <table>
            <thead>
                <th>Productos</th>
            </thead>
            <tbody>
                <tr v-for="producto in carrito">
                    <td>{{producto}}</td>
                </tr>
            </tbody>
        </table>
    </div> 

    <script src="carrito.js"></script>
</body>

</html>